<section>

  <h1 id="mi-id" >Mision</h1>
  <p id="mi-id">La misión de nuestra empresa de tienda deportiva es proporcionar a nuestros clientes productos deportivos de alta calidad y servicios excepcionales,
    para ayudarles a alcanzar sus objetivos deportivos y mejorar su calidad de vida a través del deporte. Queremos ser la mejor opción para los atletas de
    todos los niveles y habilidades, ofreciendo una amplia gama de productos deportivos y una atención al cliente excepcional para satisfacer todas sus
    necesidades y deseos. Además, nos esforzamos por ser una empresa socialmente responsable y comprometida con el bienestar de la comunidad y el medio ambiente.</p>

  <h2 id="mi-id">Vision</h2>
  <p id="mi-id">Nuestra visión como empresa de tienda deportiva es ser la tienda preferida de los atletas y amantes del deporte en todo el mundo, reconocidos por nuestra
    excelencia en productos y servicios, innovación constante y compromiso con la responsabilidad social y ambiental. Queremos ser la marca más confiable y
    respetada en la industria deportiva, siempre liderando el camino en la creación de nuevas tendencias y soluciones innovadoras para ayudar a los deportistas
    a alcanzar su máximo potencial. Buscamos ser una empresa altamente sostenible, trabajando de manera ética y transparente para contribuir al bienestar de la
    sociedad y el planeta en general.</p>
 </section>
