<nav class="menu_lateral">
  <ul>
    <li>
      <a routerLink="/">
        <i class="fas fa-home" title="Inicio"></i>
        <h4>Inicio</h4>
      </a>
    </li>
    <li>
      <a routerLink="/quienessomos">
        <i class="fa-solid fa-city" title="Quienes somos"></i>
        <h4>Quienes Somos</h4>
      </a>
    </li>
    <li>
      <a routerLink="/nosotros">
        <i class="fa-solid fa-user" title="Nuestro equipo"></i>
        <h4>Nuestro Equipo</h4>
      </a>
    </li>
    <li>
      <a routerLink="/catalogo">
        <i class="fa-solid fa-list" title="Catalogo"></i>
        <h4>Catalogo</h4>
      </a>
    </li>
  </ul>
</nav>

