<section class="section_categoria">
  <h2 class="categoria">Guayos</h2>
  <div class="producto">
    <img src="assets/img/guayo1.jpg" alt="Producto 1">
    <div class="nombre">Mercurial</div>
    <div class="precio">$99.99</div>
    <div><button class="comprar">Comprar</button></div>
  </div>
  <div class="producto">
    <img src="assets/img/guayo2..jfif" alt="Producto 2">
    <div class="nombre">Venom</div>
    <div class="precio">$149.99</div>
    <div><button class="comprar">Comprar</button></div>
  </div>
  <!-- Más productos aquí -->
</section>
<section class="section_categoria">
  <h2 class="categoria">Ropa</h2>
  <div class="producto">
    <img src="/assets/img/sueter.jfif" alt="Producto 1">
    <div class="nombre">Sueteres</div>
    <div class="precio">$49.99</div>
    <div><button class="comprar">Comprar</button></div>
  </div>
  <div class="producto">
    <img src="assets/img/ropa2.jpg" alt="Producto 2">
    <div class="nombre">Section black</div>
    <div class="precio">$79.99</div>
    <div><button class="comprar">Comprar</button></div>
  </div>

  <!-- Más productos aquí -->
</section>

