
<div id="logo_principal">
    <img src="../content/img/logo.jpg" id="logo_principal">
  </div>
  <h4 id="texto_principal">Somos una empresa dedicada a la venta de ropa deportiva de alta calidad para hombres y mujeres. Ofrecemos una amplia variedad de productos que incluyen camisetas, pantalones, shorts, sudaderas, chaquetas y accesorios para deportes como el running, el fitness, el yoga y el entrenamiento en general.

    Nos enorgullece ofrecer productos de marcas reconocidas y de calidad superior que garantizan el máximo rendimiento y comodidad durante la actividad física. Además, nos esforzamos por mantener precios competitivos para que nuestros clientes puedan obtener lo mejor en ropa deportiva sin tener que gastar una fortuna.
    
  </h4>
